@import '_mixins/fonts.scss'
@import "_mixins/media.scss"
@import "color"

@include font-face(Lato-Regular, "../fonts/latoregular")
@include font-face(Lato-Black, "../fonts/latoblack")
@include font-face(Montserrat-Black, "../fonts/Montserrat-Black")
@include font-face(Montserrat-Bold, "../fonts/Montserrat-Bold")
$default-font: Lato-Regular
$montserratblack-font: Montserrat-Black
$montserratbold-font: Montserrat-Bold
$black-font: Lato-Black

*,
*::before,
*::after
    box-sizing: border-box

html
    font-size: 16px

body
    padding: 0
    margin: 0
    min-height: 100vh
    scroll-behavior: smooth
    text-rendering: optimizeSpeed
    font-family: $default-font
    line-height: 1.5


h1, h2, h3, h4, h5, h6
    font-family: $montserratbold-font

@import "header"
// @import '../pug/modules/02-slider/slider'
// @import '../pug/modules/03-tri-bloka/tri-bloka'
// @import '../pug/modules/04-about/about'
// @import '../pug/modules/05-portfolio/portfolio'
// @import '../pug/modules/06-contact/contact'
@import "footer"


@media (min-width: 767px) and (max-width: 1199.98px)
    body
        background-color: #4d4dff

@media (max-width: 767.98px)
    body
        background-color: #cc3399
